############################################################################
#
# (c) 1986-2025 Wolfgang G. Reißnegger <w.reissnegger@gmx.net>
# 
# Project: https://github.com/egnagflow/vmon
# License: https://github.com/egnagflow/vmon/blob/main/LICENSE
#
############################################################################

############################################################################
# Default configuration for a VIC20 with 8KB RAM expansion and vmon
# located in BASIC RAM.
#
# $1000 - ...           ; Native BASIC RAM
# $1000 - $11ff         ; Native screen
# $1200 - $13ff         ; VMON screen
# $1400 - CODE_END -1   ; VMON code when loaded as BASIC PRG
# CODE_END - ...        ; Relocated BASIC RAM
#
# Note:
#   Need to run-time relocate to $1400 after loading.
#
############################################################################
#
# Note:
#   There is no ZP defined in this configuration file as vmon does not
#   touch any zeropage memory. This will prevent vmon from interfering with
#   any programs using zeropage memory.
#
MEMORY {
    PRG:                start = $11FF, size = $0002;
    BASIC_HEADER_RAM:   start = $1201, size = $FF;
    RAM:                start = $1400, size = $2BFF;
}

SEGMENTS {
    PRG_HEADER:                 load = PRG, type = rw, define = yes;
    BASIC_HEADER:               load = BASIC_HEADER_RAM, define = yes, type = rw;
    INIT:                       load = RAM, type = rw, define = yes;
    CODE:                       load = RAM, type = rw;
    KEY_CODE_TABLE:             load = RAM, type = rw, define = yes;
    KEY_HANDLER_JUMP_TABLE_LO:  load = RAM, type = rw, define = yes;
    KEY_HANDLER_JUMP_TABLE_HI:  load = RAM, type = rw, define = yes;
    DATA:                       load = RAM, type = rw;
    ROM:                        load = RAM, type = rw, define = yes;
    CODE_END:                   load = RAM, type = ro, define = yes;
}
